@page "{id:int}"
@model QuizAppRazor.Pages.Quizzes.DeleteModel
@{
    ViewData["Title"] = "Usuń Quiz";
}

<h2>Usuń Quiz</h2>

<h3>Czy na pewno chcesz usunąć quiz: "@Model.Quiz.Title"?</h3>

<form method="post">
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-page="Index" class="btn btn-secondary">Powrót</a>
</form>
