@page
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Witaj w aplikacji QuizApp!</h2>
    <p>
        Przejdź do <a asp-page="/Quizzes/Index">listy quizów</a>, aby zobaczyć dostępne quizy.
    </p>
</div>
