@page "{id:int}"
@model QuizAppRazor.Pages.Questions.DeleteModel
@{
    ViewData["Title"] = "Usuń Pytanie";
}

<h2>Usuń Pytanie</h2>

<h3>Czy na pewno chcesz usunąć pytanie: "@Model.Question.Text"?</h3>

<form method="post">
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-page="Index" asp-route-quizId="@Model.Question.QuizId" class="btn btn-secondary">Powrót</a>
</form>
